{
    "env": {
        "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "1",
    },
    "model": "deepseek-v4-pro[1m]",
    "language": "中文",
    "effortLevel": "high",
    "autoUpdatesChannel": "latest",
    "theme": "dark",
    "editorMode": "normal",
    "useAutoModeDuringPlan": true
}
